* {
  font-family: "Poppins", sans-serif;
}

nav {
  text-align: center;
  background-color: #eeb413;
}

.nav a {
  text-decoration: none;
  color: #eff5f5;
}

.imgPortada {
  width: 100%;
  height: 600px;
  position: relative;
}

h1 {
  font-family: "Rock salt", sans-serif;
  word-spacing: 15px;
  color: #fbfbfb;
  text-align: center;
  line-height: 80px;
  text-shadow: 7px 7px 7px #17761f;
  position: absolute;
  font-weight: 700px;
  top: 10%;
  left: 15%;
}

h2 {
  font-family: "Rock salt", sans-serif;
  font-size: 50px;
  word-spacing: 15px;
  color: #0a6202;
  text-shadow: 5px 5px 5px #fa6a09;
  margin: 20px;
  text-align: center;
}

h4 {
  margin: 40px;
  font-size: 25px;
  text-align: justify;
}

h6 {
  margin: 30px;
  font-size: 30px;
  color: #030a5b;
  text-align: right;
  text-shadow: 5px 5px 5px #4f4e4e;
}

.cardDestino {
  padding: 20px;
  background-color: #eeb413;
  text-align: left;
  color: #eff5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-shadow: 5px 5px 5px #2d1200;
}

p {
  font-size: 14px;
}

.textoPortada {
  color: #f7f8f8;
  font-size: 14px;
  bottom: 10%;
  right: 5%;
  position: absolute;
  text-align: right;
  text-shadow: 5px 5px 5px #763d17;
}

.grid-conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #fcb430;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background-color: rgb(64, 212, 253);
    color: #fff;
  }
}

.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

.boton {
  padding: 10px;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background-color: rgb(253, 105, 64);
    color: #fff;
  }
}

footer {
  background-color: #23b4b2;
  color: #eff5f5;
}

.colPie {
  padding: 2px;
}

.pie {
  font-size: medium;
  margin-top: 10px;
}

.colPie ul li {
  text-decoration: none;
  margin: 20px;
}

.red {
  color: #eff5f5;
}
